#title {
  padding: 0px;
}
#subtitle {
  padding: 0rem 0rem 0rem;
}

.list-inline {
  list-style: none;
  margin: 0rem 0rem 0.2rem;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  color: #737373;
  margin-right: 0.4em;
}

.movie-title {
  padding-bottom: 0px;
}

.list-inline li:nth-child(2)::before {
  content: "·";
  margin-right: 0.4em;
}
.list-inline li:nth-child(3)::before {
  content: "·";
  margin-right: 0.4em;
}
.list-inline li:nth-child(2) {
  line-height: 1.5;
}
.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  max-height: 7.5em; /* Assuming line-height is 1.5em. Adjust as needed */
  line-height: 1.5em;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.genre-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* spacing between tags */
}

.genre-tag {
  display: inline-block;
  padding: 3px 15px; /* Adjust padding as needed for tag size */
  background-color: transparent; /* No background color */
  color: #888888; /* Gray text color */
  border: 1px solid #888888; /* Gray border/stroke around the tag */
  border-radius: 50px; /* Makes the tag rounded */
  font-size: 14px; /* Adjust font-size as needed */
  font-weight: 500; /* Adjust font-weight as desired */
  transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition effect for hover */
}
.rounded-button {
  background-color: #012440; /* Button color */
  color: #0dc2ed; /* Text color */
  border: none; /* Removes the default border */
  border-radius: 30px; /* Rounds the button corners */
  padding: 3px 15px; /* Top/bottom and left/right padding */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Changes the cursor to a hand on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin: 0.3rem 0rem;
}

.rounded-button:hover {
  background-color: #0056b3; /* Slightly darker shade for hover effect */
}

[data-testid="stHorizontalBlock"] {
  padding: 20px 0px;
}
